<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- 中括号可以直接引用对应的数据，也可以执行表达式 -->
    {{message}}

    <!-- id的实际值会变成hello world -->
    <div v-bind:id="message"></div>

    <todo-list>
      <todo-item v-for="item in list" v-bind:title="item.title" v-bind:del="item.del" v-on:delete="handleDelete">
        <span slot="pre-icon">前置图标</span>
        <span slot="suf-icon">后置图标</span>
      </todo-item>
    </todo-list>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <script>
    Vue.component("todo-item", {
      props: {
        title: String,
        del: {
          type: Boolean,
          default: false
        }
      },
      template: `
        <li>
          <slot name="pre-icon"></slot>
          <span v-if="del">{{title}}</span>
          <span v-else style="text-decoration: line-through;">{{title}}</span>
          <slot name="suf-icon"></slot>
          <button v-show="del" v-on:click="handleClick">删除</button>
        </li>
      `,
      data: function () {
        return {}
      },
      methods: {
        handleClick() {
          console.log("点击了删除按钮");
          this.$emit("delete", this.title);
        }
      }
    });

    Vue.component("todo-list", {
      template: `
        <ul>
          <slot></slot>
        </ul>
      `,
      data: function () {
        return {}
      }
    });

    var vm = new Vue({
      el: "#app",
      data: {
        message: "hello world",
        list: [
          {
            title: "课程一",
            del: false
          },
          {
            title: "课程二",
            del: true
          },
          {
            title: "课程三",
            del: false
          }
        ]
      },
      methods: {
        handleDelete(title) {
          console.log("处理删除事件:", title);
        }
      }
    })
  </script>
</body>

</html>